<!DOCTYPE html>
<html lang="en" >

  <head>
    <meta charset="UTF-8">
    <title>PollMe</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/register.css">
    <script>
function goToRoom()
{
  let roomID = document.getElementById("roomInput").value;
  window.location.href = "/room/"+roomID;
}
    </script>
  </head>

  <body>
    <!--multistep form -->
    <input value="Enter Room" type="submit" name="Enter Room" class="submit action-button" onclick="goToRoom();"/>
    <input id="roomInput" value="" type="text" name="Enter Room" class="submit action-button" />
    <input value="Register" type="submit" name="register" class="submit action-button" onclick="window.location.href = '{{url_for('register')}}'" />
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
  </body>

</html>


